@media(max-width:900px){

.sidebar{
position:fixed;
left:-100%;
top:0;
height:100%;
}

.sidebar.open{
left:0;
box-shadow:0 0 40px rgba(0,0,0,.6);
}

.mobile-open{
display:block;
}

.toggle-close{
display:block;
}

}
